<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>山田太郎</h2>
      <h4>yamada@email.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>insert_chart</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/tech">
    <mat-icon>military_tech</mat-icon>
    Input Skill
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>System</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Setting
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/management">
    <mat-icon>wysiwyg</mat-icon>
    Management
  </a>


</mat-nav-list>
